@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav{
    width: 100%;
    background-color: #c589dd;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo{
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 700;
    margin: 10px 0px;
    padding-left: 30px;
}

.nav-bar ul{
    display: flex;
    padding-right: 30px;
    
}
.nav-bar ul li{
    list-style: none;
    padding: 12px 25px;
    cursor: pointer;    
}

.nav-bar ul li a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    color:#fff;
       
}

.nav-bar ul li:hover{
    background-color: #3e3e3e;
    transition: 0.5s ease;
}

.tg-btn{
    position: absolute;
    top: 25px;
    right: 30px;
    display: none;
    justify-content: space-between;
    flex-direction: column;
    height: 22px;
    width: 32px;
}

.tg-btn .bar{
    height: 4px;
    width: 100%;
    background-color: #fff;
}

.container{
    background-color: rgb(253, 248, 255);
}

.container .slider{
    max-width: 700px;
    margin: 20px auto;
    position: relative;

    box-shadow: 0 20px 50px rgba(0, 0, 0, .5);
}

.slider .left-slider, .slider .right-slider{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #444444;
    border-radius: 50%;
    color: #fff;
    font-size: 25px;
    top: 50%;
    cursor: pointer;
    margin-top: -20px; 
    text-align: center;
    line-height: 40px;
    transition: all .5s ease;
}

.slider .left-slider:hover, .slider .right-slider:hover{
    box-shadow: 0px 0px 10px black;
    background-color: rgb(240, 220, 247);
    
}

.slider .left-slider{
    left: 30px;
    
}
.slider .right-slider{
    right: 30px;
}

.slider .slider-items .item img{
    max-width: 100%;
    display: block;
}

.slider .slider-items .item{
    display: none;
    position: relative;
}



.slider .slider-items .item.active{
    display: block;
}

.skills{
    max-width: 700px;
    margin: 40px auto;
    position: relative;
    padding: 20px;
    background: rgb(240, 220, 247);
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .5);
}

.skills h1{
    margin: 0;
    padding: 0;
    color: #3e3e3e;
    text-transform: uppercase;
    text-align: center;
}

.skills .box{
    box-sizing: border-box;
    width: 100%;
    margin: 20px 0;
}

.skills .box p{
    text-transform: uppercase;
    margin: 0 0 10px;
    padding: 0;
}

.skills .box p:nth-child(2){
    float: right;
    position: relative;
    top: -25px;
}

.skills .skill{
    background: #535252;
    padding: 4px;
    box-sizing: border-box;
    border: 1px solid #c589dd;
    border-radius: 2px;
}

.skills .skill_level{
    background: #c589dd ;
    width: 100%;
    height: 10px;

}

.about{
    padding: 10px 300px 10px 300px;
    overflow: hidden;
}

.about .title{
    text-align: center;
    background-color: #c589dd;
    text-transform: uppercase;

}

.about .foto{
    float: left;
    max-width: 770px;
    padding-left: 1em;
    margin: 1em auto;
    position: relative;

}

.about .info{
    float: right;
    padding: 1em;
    width: 40%;
    margin: 1em;
    background-color: rgb(240, 220, 247);
    text-align: justify;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .5);
}

.experience{
    padding: 10px 300px 10px 300px;
    overflow: hidden;
}
.experience .exp2{
    overflow: hidden;
}
.experience .exp3{
    overflow: hidden;
}

.experience h1{
    text-align: center;
    background-color: #c589dd;
    text-transform: uppercase;
}

.experience h2{
    background-color: rgb(240, 220, 247);
    text-align: center;
    margin-left: 100px;
    margin-top: 15px;
    margin-right: 100px;
    padding-left: 30px;
}

.experience .des1{
    padding: 10px;
    width: 40%;
    margin: 40px;
    background-color: rgb(240, 220, 247);
    text-align: justify;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .5);
    max-width: 700px;
    margin: 40px auto;
    width: 70%;
    
}

.experience .pic1{
    max-width: 770px;
    padding-left: 30px;
    margin: 30px auto;
    position: relative;
}

.experience .des2{
    padding: 1em;
    width: 40%;
    margin: 1em;
    background-color: rgb(240, 220, 247);
    text-align: justify;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .5);
    float: left;
    margin-left: 1em;
    
}

.experience .pic2{
    max-width: 770px;
    padding-left: 30px;
    margin: 30px auto;
    position: relative;
    max-width: 700px;
    float: right;
    margin-right: 90px;
}

.experience .des3{
    padding: 10px;
    width: 40%;
    margin: 40px;
    background-color: rgb(240, 220, 247);
    text-align: justify;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .5);
    max-width: 700px;
    margin: 40px auto;
    width: 70%;
}

.experience .pic3{
    max-width: 770px;
    padding-left: 30px;
    margin: 30px auto;
    position: relative;
    max-width: 700px;
    margin: 40px auto;

}

.contact{
    padding: 10px 300px 10px 300px;
    overflow: hidden;
}
.contact h1{
    text-align: center;
    background-color: #c589dd;
    text-transform: uppercase;
}

.cont{
    position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: .5em .5em;
}

.cont:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.contact-box{
	max-width: 700px;
	display: grid;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0 20px 50px rgba(0, 0, 0, .5);
}


.contact h2{
	position: relative;
	padding: 10px 0 10px;
	margin-bottom: 10px;
}

.contact h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #c589dd;
}

.contact .field{
	width: 80%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}


.contact textarea{
	min-height: 100px;
}

.contact .btn{
	width: 20%;
	padding: .5rem 1rem;
    margin-bottom: 1rem;
	background-color: #c589dd;
	font-size: 1.1rem;
	cursor: pointer;
	transition: .3s;
    border: none;
}

.contact.btn:hover{
    background-color: #c589dd;
}

.contact .insta{
    text-align: center;
    background-color: rgb(240, 220, 247);
    padding: 10px 300px 10px 300px;
    margin: .5rem;
}
.contact .whatasapp{
    text-align: center;
    background-color: rgb(240, 220, 247);
    padding: 10px 300px 10px 300px;
    margin: .5rem;
    
}
.contact .mail{
    text-align: center;
    background-color: rgb(240, 220, 247);
    padding: 10px 300px 10px 300px;
    margin: .5rem;
}


@media (min-width: 640px){
    .tg-btn{
        display: flex;
    }
    .nav-bar{
        display: none;
        width: 100%;
    }
    nav{
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-bar ul{
        width: 100%;
        background-color: #684f72;
        flex-direction: column;
        padding-right: 0px;
    }
    .nav-bar ul li{
        padding-left: 30px;
    }
    .nav-bar ul li a{
        font-size: 17px;
    }
    .nav-bar.active{
        display: flex;
    }

}

@media (min-width: 1024px) {
    
  }

